body, html {
    /* height: 100%; */
    /* margin: 0; */
  }
body{
    background: url(home/background.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
    position:relative;
    overflow:hidden;
}
.title{
    height:80px;
    margin:auto;
    /* display:flex; */
    /* position:relative; */
    /* top:25px; */
}
.clouds{
    position:absolute;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    flex-wrap:wrap;
    align-content:flex-start;
    width:100%;
    /* box-sizing: border-box; */
}
.clouds img{
    /* height:10%; */
    width:20%;
}
#cloud1{
    position: relative;
    left:0;
    animation: float 6s ease-in-out infinite;

}
#cloud2{
    position:relative;
    left:60%;
    animation: float2 6s ease-in-out infinite;
}
#cloud3{
    left:15%;
    animation: float 8s ease-in-out infinite;
    position:relative;
}
#cloud4{
    left:80%;
    animation: float2 7s ease-in-out infinite;
    position:relative;
}
#cloud5{
    left: 15%;
    position:relative;
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(-20px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-00px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(-20px);
	}
}