.welcomeMsg{
    margin:auto;
    font-size:40px;

}
.aboutMsg{
    margin:auto;
}
.infoDiv{
    /* margin:auto; */
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    background-color: white;
    width:100%;
    /* width: 500px; */
    /* top:20%; */
    /* position:absolute; */
    z-index: 50;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;

}
.instructions{
    display:flex;
    margin:auto;
    flex-direction: column;
}
.instruction{
    display:flex;
    flex-direction: row;
    height: 42px;
}
.gesture{
    position:relative; 
    padding-right:30px;
    font-size:30px;
    top:5px;
}
.start{
    /* position:absolute; */
    /* width:20%; */
    /* left: 50%; */
    /* margin-left: -10%; */
    background-color: white;
    border-radius: 10px;
    /* top:80%; */
    max-width:95%;
    width: 500px;
    z-index:50
}
.startContent{
    margin:auto;
    position:relative;
    display:flex;
    justify-content: center;
}
.start .action{
    font-family: 'Nunito', sans-serif;
}
.start .gesture{
    top:5px;
    position:relative;
}
